<h1>Listing references</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Name</th>
    <th>Year</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @references.each do |reference| %>
  <tr>
    <td><%= reference.content %></td>
    <td><%= reference.name %></td>
    <td><%= reference.year %></td>
    <td><%= reference.user_id %></td>
    <td><%= link_to 'Show', reference %></td>
    <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
    <td><%= link_to 'Destroy', reference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reference', new_reference_path %>
